* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    background-color: #000;
    color: #fff;
    font-family: "Roboto", sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    margin: 0;
}

.calculator {
    background-color: #000;
    border-radius: 0.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    margin: 2rem auto;
    max-width: 40rem;
    padding: 2rem;
    width: 100%;
}

.calculator__display {
    background-color: #333;
    border-radius: 0.5rem;
    color: #fff;
    font-size: 4rem;
    font-weight: 700;
    margin-bottom: 2rem;
    padding: 1rem 2rem;
    text-align: right;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.calculator__keys {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(4, 1fr);
}

.calculator__keys>* {
    background-color: #fff;
    border: 0;
    border-radius: 0.5rem;
    color: #333;
    cursor: pointer;
    font-size: 2rem;
    font-weight: 700;
    padding: 2rem 1.5rem;
    text-align: center;
}

.calculator__keys>*:active {
    background-color: #ccc;
}

.key--operator {
    background-color: #f58220;
    color: #fff;
}

.key--operator:active {
    background-color: #f99a66;
}

.key--equal {
    background-color: #f58220;
    color: #fff;
    grid-column: -2 / -1;
}

.key--equal:active {
    background-color: #f99a66;
}

.key--clear {
    background-color: #333;
    color: #fff;
    grid-column: 1 / 3;
}

.key--clear:active {
    background-color: #666;
}

.key--back {
    background-color: #333;
    color: #fff;
    grid-column: 3 / 5;
}

.key--back:active {
    background-color: #666;
}

.key--number {
    background-color: #333;
    color: #fff;
}

.key--number:active {
    background-color: #666;
}

.is-depressed {
    background-color: #666;
}